img {
    width: 4rem;
    height: 4rem;
    margin-right: 2vw;
}

.flex{
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
}

.pointer {
    cursor: pointer;
}

.bold {
    font-weight: 600;
}

.unerline {
    padding: 0.2em;
    border-bottom: 1px solid #2D3E4E;
}

.white_text {
    color: white;
}

.headercontainer {
    padding: 1vw 5vw;
    background:#2D3E4E;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    height: 1.7em;
    width: auto;
    position: relative;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease; 
}

.icon:hoover{
    transform: scale(3); 
}

.cursor {
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease; 
}

.cursor:hover {
    transform: scale(1.1);
}