* {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: #2D3E4E;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }

.hero {
    margin-top: 1px;
    height: 83vh;
    background-image: url('../images/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
}

.white_text {
    color: white;
}

.space {
    margin-bottom: 2vw;
}

/* For login and signup pages*/
.login_page{
    width: 100vw;
    height: 100vh;
    background-image: url('../images/login.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.lower{
    position: fixed;
    bottom: 0cm;
    width: 100%;
}

.page_content {
    display: flex;
    background: #E8ECEB;
}

.chart {
    width: 25vw;
}

.content {
    width: 80vw;
    padding: 2vw 5vw 2vw 2vw;
}

.column {
    min-width: 13vw;
    max-width: 25vw;
}

.user_column {
    min-width: 5vw;
    max-width: 10vw;
}

.flex_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.row_table {
    background: white;
    padding: 1vw;
    border-bottom: 1px solid rgba(128, 128, 128, 0.582);
    box-shadow: 2px 2px 2px #b1b6bb;
}