/* For the login and register widgets */

.input {
    width: 300px;
    height: 40px;
    border-radius: 15px;
    border: 0cm;
    background: #E8ECEB;
    padding: 0vw 1em;
}

.p{
    font-size: 14px;
    text-align: center;
}

.register{
    font-weight: 600;
    text-decoration-line: underline;
}

.login_card {
    width: 25em;
    background-color: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5em;
    position: relative;
}

.logo{
    width: 75px;
    height: auto;
}

.space {
    margin-bottom: 1.5em;
}

.s_icon {
    width: 25px;
    height: auto;
}

.flex_start{
    display: flex;
    justify-content: left;
    width: 100%;
}

.button {
    border-radius: 25px;
    width: 300px;
    height: 40px;
    border: 0cm;
    background: #E09E50;
    color: #FFFFFF;
}

.button:hover {
    opacity: 0.8;
}

::placeholder {
    font-weight: 600;
    color: #5B4D4D;
}

.row input:focus{
    box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7);
    outline: none;
 }
 
 .row input::-webkit-input-placeholder{
   opacity: 1;
   transition: opacity 0.25s ease-out;
 }
 
 .row input:hover::-webkit-input-placeholder,
 .row input:focus::-webkit-input-placeholder{
   opacity: 0;
 }
 
 .row label{
   align-self: start;
   padding-left: 4.5rem;
   padding-bottom: 0.5rem;
   color: rgba(187,187,187,0.9);
 }

.error_text {
    font-size: 14px;
    color: red;
}

.error_box {
    border: 1px solid red;
}

.hide {
    visibility: hidden;
    display: none;
}

.disabeled {
    opacity: 0.5
}

.icon_table {
    margin: 0cm;
    height: 2vw;
    width: auto;
    margin-right: 1vw;
}

.flex_end {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    min-width: 0vw;
    max-width: 2vw;
}

.ask {
    width: 100px;
    height: 50px;
    border: 0cm;
    background: #E09E50;
    box-shadow: 0px 4px 4px #b1b6bb, inset 10px 10px 4px rgba(252, 178, 90, 0.47);
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s_icon {
    margin-left: 1vw;
    width: auto;
    height: 20px;
}

/* Question component styling */

.question_container {
    padding: 2vw 2vw 2vw 2vw;
    border-top: 2px solid rgba(0, 0, 0, 0.404);
    width: 100%;
}

.profile_pic {
    width: 60px;
    height: 60px;
    border-radius: 500px;
}

.flex_end {
    display: flex;
    position: relative;
    justify-content: right;
}

.flex_between {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.tag_name {
    background: #E09E50;
    height: 50px;
    color: white;
    padding: 0.5vw 2vw;
    border-radius: 20px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.space {
    margin-bottom: 2vw;
}

.subtitle {
    font-weight: 600;
}

.question_content {
    padding: 0vw 0vw 0vw 6vw;
}

.popup_textarea{
    height: 40vh;
    background: #E8ECEB;
}

.answer_sent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer_sent > img {
    width: 10vw;
    height: auto;
}

.text {
    margin-top: 1vw;
}

.name {
    font-size: 20px;
    font-weight: 600;
}

.view_question_container {
    padding: 2vw 2vw 2vw 2vw;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.404);
    background-color: white;
}

/* For the answer widget*/
.answer_container {
    padding: 2vw 2vw 2vw 8vw;
    border-top: 2px solid rgba(0, 0, 0, 0.404);
    width: 100%;

}

.space_left {
    margin-left: 2vw;
}

.answers_container {
    border: 2px solid rgba(0, 0, 0, 0.404);
    width: 100%;
    background: white;
}